
#root {
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .main {
    flex-grow: 1;
  }

  .ui.inverted.segment {
    border-color: transparent;
  }

  .ui.container.padded {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
